{% extends "base.html" %} 

{% block title %} . {% endblock title %}

{% block content %}
		<!-- Header -->
		<header class="header header-fixed border-bottom">
            <div class="header-content">
                <div class="left-content">
                    <a href="javascript:void(0);" class="back-btn">
                        <i class="feather icon-arrow-left"></i>
                    </a>
                </div>
                <div class="mid-content">
                    <h4 class="title">Notifications (12)</h4>
                </div>
                <div class="right-content">
                    <a href="search.html" class="icon font-24">
                        <i class="icon feather icon-search"></i>
                    </a>
                </div>
            </div>
        </header>
		<!-- Header -->

<!-- Main Content Start -->
<main class="page-content space-top">
    <div class="container pb-0 overflow-hidden">
        <div class="dz-list notification-list">
            <ul>
                <li class="list-items pull_delete">
                    <div class="media">
                        <div class="media-60 m-r10">
                            <img src="static/images/avatar/1.jpg" alt="">
                        </div>
                        <div class="list-content">
                            <h5 class="title">New Arrivals Alert!</h5>
                            <span class="date">15 July 2023</span>
                        </div>
                    </div>
                <i class="pd_btn"></i></li>
                <li class="list-items pull_delete">
                    <div class="media">
                        <div class="media-60 m-r10">
                            <img src="static/images/avatar/2.jpg" alt="">
                        </div>
                        <div class="list-content">
                            <h5 class="title">Flash Sale Announcement</h5>
                            <span class="date">21 July 2023</span>
                        </div>
                    </div>
                <i class="pd_btn"></i></li>
                <li class="list-items pull_delete">
                    <div class="media">
                        <div class="media-60 m-r10">
                            <img src="static/images/avatar/3.jpg" alt="">
                        </div>
                        <div class="list-content">
                            <h5 class="title">Exclusive Discounts Inside</h5>
                            <span class="date">10 March 2023</span>
                        </div>
                    </div>
                <i class="pd_btn"></i></li>
                <li class="list-items pull_delete">
                    <div class="media">
                        <div class="media-60 m-r10">
                            <img src="static/images/avatar/4.jpg" alt="">
                        </div>
                        <div class="list-content">
                            <h5 class="title">Limited Stock - Act Fast!</h5>
                            <span class="date">20 September 2023</span>
                        </div>
                    </div>
                <i class="pd_btn"></i></li>
                <li class="list-items pull_delete">
                    <div class="media">
                        <div class="media-60 m-r10">
                            <img src="static/images/avatar/5.jpg" alt="">
                        </div>
                        <div class="list-content">
                            <h5 class="title">Get Ready to Shop</h5>
                            <span class="date">15 July 2023</span>
                        </div>
                    </div>
                <i class="pd_btn"></i></li>
                <li class="list-items pull_delete">
                    <div class="media">
                        <div class="media-60 m-r10">
                            <img src="static/images/avatar/1.jpg" alt="">
                        </div>
                        <div class="list-content">
                            <h5 class="title">Don't Miss Out on Savings</h5>
                            <span class="date">24 July 2023</span>
                        </div>
                    </div>
                <i class="pd_btn"></i></li>
                <li class="list-items pull_delete">
                    <div class="media">
                        <div class="media-60 m-r10">
                            <img src="static/images/avatar/2.jpg" alt="">
                        </div>
                        <div class="list-content">
                            <h5 class="title">Special Offer Just for You</h5>
                            <span class="date">28 August 2023</span>
                        </div>
                    </div>
                <i class="pd_btn"></i></li>
                <li class="list-items pull_delete">
                    <div class="media">
                        <div class="media-60 m-r10">
                            <img src="static/images/avatar/3.jpg" alt="">
                        </div>
                        <div class="list-content">
                            <h5 class="title">Don't Miss Out on Savings</h5>
                            <span class="date">15 July 2023</span>
                        </div>
                    </div>
                <i class="pd_btn"></i></li>
                <li class="list-items pull_delete">
                    <div class="media">
                        <div class="media-60 m-r10">
                            <img src="static/images/avatar/4.jpg" alt="">
                        </div>
                        <div class="list-content">
                            <h5 class="title">Get Ready to Shop</h5>
                            <span class="date">15 July 2023</span>
                        </div>
                    </div>
                <i class="pd_btn"></i></li>
                <li class="list-items pull_delete">
                    <div class="media">
                        <div class="media-60 m-r10">
                            <img src="static/images/avatar/5.jpg" alt="">
                        </div>
                        <div class="list-content">
                            <h5 class="title">Special Offer Just for You</h5>
                            <span class="date">15 July 2023</span>
                        </div>
                    </div>
                <i class="pd_btn"></i></li>
            </ul>
        </div>
    </div>
</main>
<!-- Main Content End -->

{% include "incs/bottom_nav.html" %}

{% endblock content %}