{% extends "base.html" %} 

{% block title %} . {% endblock title %}

{% block content %}
		<!-- Header -->
		<header class="header header-fixed border-bottom onepage">
			<div class="header-content">
				<div class="left-content">
					<a href="javascript:void(0);" class="back-btn">
						<i class="feather icon-arrow-left"></i>
					</a>
				</div>
				<div class="mid-content">
					<h4 class="title">Inputs</h4>
				</div>
				<div class="right-content"></div>
			</div>
		</header>
		<!-- Header -->

<!-- Main Content Start -->
<div class="page-content space-top">
    <div class="container">
        <div class="card dz-card-box style-1" style="background-image: url('assets/images/bg-shape.png');">				
            <div class="card-body">
                <div class="dz-media dz-flex-box">
                    <img src="assets/images/bootstrap-logo.png" alt="">
                </div>
                <div class="dz-content">
                    <h5 class="card-title">Bootstrap Elements</h5>
                    <a href="#contentArea" class="element-name scroll">Inputs style</a>
                </div>
                <span class="version">BS - v5.3</span>
            </div>
        </div>
        
        <div class="row" id="contentArea">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">Recipe Details</h5>
                    </div>
                    <div class="card-body">
                        <div class="mb-2">
                            <input type="text" name="title" class="form-control" placeholder="Recipe title.">								
                        </div>
                        <div class="mb-2">
                            <input type="number" name="price" class="form-control" placeholder="Recipe price.">
                        </div>
                        
                        <div class="mb-2 input-group input-group-icon">
                            <input type="file" id="image" name="image" class="form-control dz-password">
                            <span class="input-group-text show-pass"> 
                                <i class="icon feather icon-feather"></i>
                            </span>
                        </div>
                        
                        <div class="mb-4 input-group">
                            <button type="submit" 
                            class="btn btn-primary btn-lg rounded-xl btn-thin w-100 gap-2">
                                Save Recipe
                            </button>
                        </div>


                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<!-- Main Content End -->
{% endblock content %}