{% extends "base.html" %} 

{% block title %} . {% endblock title %}

{% block content %}
		<!-- Header -->
		<header class="header header-sticky border-bottom">
			<div class="header-content">
				<div class="left-content">
					<a href="javascript:void(0);" class="back-btn">
						<i class="feather icon-arrow-left"></i>
					</a>
				</div>
				<div class="mid-content"><h4 class="title">My Order</h4></div>
				<div class="right-content">
					<a href="index.html" class=""><i class="feather icon-home font-24"></i></a>
				</div>
			</div>
		</header>
		<!-- Header -->

<!-- Main Content Start -->
<main class="page-content space-top">
    <div class="container pt-0">
        <div class="default-tab style-2 mt-1">
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item" role="presentation">
                    <a class="nav-link active" data-bs-toggle="tab" href="#home" aria-selected="true" role="tab">Ongoing</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" data-bs-toggle="tab" href="#profile" aria-selected="false" role="tab" tabindex="-1">Completed</a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane fade active show" id="home" role="tabpanel">
                    <ul class="featured-list">
                        <li>
                            <div class="dz-card list">
                                <div class="dz-media">
                                    <a href="product-detail.html"><img src="static/images/products/product5.jpg" alt=""></a>
                                    <div class="dz-rating"><i class="fa fa-star"></i> 3.8</div>
                                </div>
                                <div class="dz-content">
                                    <div class="dz-head">
                                        <h6 class="title"><a href="product-detail.html">Sweet Lemon Indonesian Tea</a></h6>
                                        <ul class="tag-list">
                                            <li><a href="javascript:void(0);">Tea</a></li>
                                            <li><a href="javascript:void(0);">Lemon</a></li>
                                        </ul>
                                    </div>
                                    <ul class="dz-meta">
                                        <li class="dz-price flex-1">$12.6</li>
                                        <li>
                                            <a href="track-order.html" class="btn btn-primary btn-xs font-13 btn-thin rounded-xl">Track Order</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="dz-card list">
                                <div class="dz-media">
                                    <a href="product-detail.html"><img src="static/images/products/product2.jpg" alt=""></a>
                                    <div class="dz-rating"><i class="fa fa-star"></i> 3.8</div>
                                </div>
                                <div class="dz-content">
                                    <div class="dz-head">
                                        <h6 class="title"><a href="product-detail.html">Creamy Mocha Ome Coffee </a></h6>
                                        <ul class="tag-list">
                                            <li><a href="javascript:void(0);">Coffee</a></li>
                                        </ul>
                                    </div>
                                    <ul class="dz-meta">
                                        <li class="dz-price flex-1">$12.6</li>
                                        <li>
                                            <a href="track-order.html" class="btn btn-primary btn-xs font-13 btn-thin rounded-xl">Track Order</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="dz-card list">
                                <div class="dz-media">
                                    <a href="product-detail.html"><img src="static/images/products/product3.jpg" alt=""></a>
                                    <div class="dz-rating"><i class="fa fa-star"></i> 3.8</div>
                                </div>
                                <div class="dz-content">
                                    <div class="dz-head">
                                        <h6 class="title"><a href="product-detail.html">Arabica Latte Ombe Coffee </a></h6>
                                        <ul class="tag-list">
                                            <li><a href="javascript:void(0);">Coffee</a></li>
                                        </ul>
                                    </div>
                                    <ul class="dz-meta">
                                        <li class="dz-price flex-1">$12.6</li>
                                        <li>
                                            <a href="track-order.html" class="btn btn-primary btn-xs font-13 btn-thin rounded-xl">Track Order</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="dz-card list">
                                <div class="dz-media">
                                    <a href="product-detail.html"><img src="static/images/products/product4.jpg" alt=""></a>
                                    <div class="dz-rating"><i class="fa fa-star"></i> 3.8</div>
                                </div>
                                <div class="dz-content">
                                    <div class="dz-head">
                                        <h6 class="title"><a href="product-detail.html">Original Hot Coffee  </a></h6>
                                        <ul class="tag-list">
                                            <li><a href="javascript:void(0);">Coffee</a></li>
                                        </ul>
                                    </div>
                                    <ul class="dz-meta">
                                        <li class="dz-price flex-1">$12.6</li>
                                        <li>
                                            <a href="track-order.html" class="btn btn-primary btn-xs font-13 btn-thin rounded-xl">Track Order</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="tab-pane fade" id="profile" role="tabpanel">
                    <ul class="featured-list">
                        <li>
                            <div class="dz-card list">
                                <div class="dz-media">
                                    <a href="product-detail.html"><img src="static/images/products/product4.jpg" alt=""></a>
                                    <div class="dz-rating"><i class="fa fa-star"></i> 3.8</div>
                                </div>
                                <div class="dz-content">
                                    <div class="dz-head">
                                        <h6 class="title"><a href="product-detail.html">Original Hot Coffee  </a></h6>
                                        <ul class="tag-list">
                                            <li><a href="javascript:void(0);">Coffee</a></li>
                                        </ul>
                                    </div>
                                    <ul class="dz-meta">
                                        <li class="dz-price flex-1">$12.6</li>
                                        <li>
                                            <a href="review.html" class="btn btn-primary btn-xs font-13 btn-thin rounded-xl">Write Review</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="dz-card list">
                                <div class="dz-media">
                                    <a href="product-detail.html"><img src="static/images/products/product2.jpg" alt=""></a>
                                    <div class="dz-rating"><i class="fa fa-star"></i> 3.8</div>
                                </div>
                                <div class="dz-content">
                                    <div class="dz-head">
                                        <h6 class="title"><a href="product-detail.html">Creamy Mocha Ome Coffee </a></h6>
                                        <ul class="tag-list">
                                            <li><a href="javascript:void(0);">Coffee</a></li>
                                        </ul>
                                    </div>
                                    <ul class="dz-meta">
                                        <li class="dz-price flex-1">$12.6</li>
                                        <li>
                                            <a href="review.html" class="btn btn-primary btn-xs font-13 btn-thin rounded-xl">Write Review</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="dz-card list">
                                <div class="dz-media">
                                    <a href="product-detail.html"><img src="static/images/products/product5.jpg" alt=""></a>
                                    <div class="dz-rating"><i class="fa fa-star"></i> 3.8</div>
                                </div>
                                <div class="dz-content">
                                    <div class="dz-head">
                                        <h6 class="title"><a href="product-detail.html">Sweet Lemon Indonesian Tea</a></h6>
                                        <ul class="tag-list">
                                            <li><a href="javascript:void(0);">Tea</a></li>
                                            <li><a href="javascript:void(0);">Lemon</a></li>
                                        </ul>
                                    </div>
                                    <ul class="dz-meta">
                                        <li class="dz-price flex-1">$12.6</li>
                                        <li>
                                            <a href="review.html" class="btn btn-primary btn-xs font-13 btn-thin rounded-xl">Write Review</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="dz-card list">
                                <div class="dz-media">
                                    <a href="product-detail.html"><img src="static/images/products/product3.jpg" alt=""></a>
                                    <div class="dz-rating"><i class="fa fa-star"></i> 3.8</div>
                                </div>
                                <div class="dz-content">
                                    <div class="dz-head">
                                        <h6 class="title"><a href="product-detail.html">Arabica Latte Ombe Coffee </a></h6>
                                        <ul class="tag-list">
                                            <li><a href="javascript:void(0);">Coffee</a></li>
                                        </ul>
                                    </div>
                                    <ul class="dz-meta">
                                        <li class="dz-price flex-1">$12.6</li>
                                        <li>
                                            <a href="review.html" class="btn btn-primary btn-xs font-13 btn-thin rounded-xl">Write Review</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</main>
<!-- Main Content End -->
{% endblock content %}