{% extends "base.html" %} 

{% block title %} . {% endblock title %}

{% block content %}
		<!-- Header -->
		<header class="header header-fixed shadow">
			<div class="header-content">
				<div class="left-content">
					<div class="dz-head-items">
						<h5 class="title mb-0">Wishlist</h5>
						<ul class="dz-meta">
							<li class="dz-item"><b>6</b> items</li>
							<li class="dz-item">total: <b>$213</b></li>
						</ul>
					</div>
				</div>
				<div class="mid-content"></div>
				<div class="right-content">
					<a href="search.html" class="icon font-20">
						<i class="icon feather icon-search"></i>
					</a>
				</div>
			</div>
		</header>
		<!-- Header -->

<!-- Main Content Start -->
<main class="page-content space-top p-b60">
    <div class="container">
        <div class="row g-3">
            <div class="col-12 col-sm-6">
                <div class="dz-wishlist-bx">
                    <div class="dz-media">
                        <a href="product-detail.html"><img src="assets/images/menus/pic1.jpg" alt=""></a>
                    </div>
                    <div class="dz-info">
                        <div class="dz-head">
                            <h6 class="title"><a href="product-detail.html">Sweet Lemon Indonesian Tea</a></h6>
                            <p>Variant : White Stripes</p>
                        </div>
                        <ul class="dz-meta">
                            <li class="price flex-1">$69.4</li>
                            <li>
                                <a href="javascript:void(0);" class="item-bookmark active style-1">
                                    <i class="feather icon-heart-on"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6">
                <div class="dz-wishlist-bx">
                    <div class="dz-media">
                        <a href="product-detail.html"><img src="assets/images/menus/pic2.jpg" alt=""></a>
                    </div>
                    <div class="dz-info">
                        <div class="dz-head">
                            <h6 class="title"><a href="product-detail.html">Hot Coppuccino Latte with Mocha</a></h6>
                            <p>Variant : White Stripes</p>
                        </div>
                        <ul class="dz-meta">
                            <li class="price flex-1">$69.4</li>
                            <li>
                                <a href="javascript:void(0);" class="item-bookmark active style-1">
                                    <i class="feather icon-heart-on"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6">
                <div class="dz-wishlist-bx">
                    <div class="dz-media">
                        <a href="product-detail.html"><img src="assets/images/menus/pic3.jpg" alt=""></a>
                    </div>
                    <div class="dz-info">
                        <div class="dz-head">
                            <h6 class="title"><a href="product-detail.html">Hot Coppuccino Latte with Mocha</a></h6>
                            <p>Variant : White Stripes</p>
                        </div>
                        <ul class="dz-meta">
                            <li class="price flex-1">$69.4</li>
                            <li>
                                <a href="javascript:void(0);" class="item-bookmark active style-1">
                                    <i class="feather icon-heart-on"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6">
                <div class="dz-wishlist-bx">
                    <div class="dz-media">
                        <a href="product-detail.html"><img src="assets/images/menus/pic4.jpg" alt=""></a>
                    </div>
                    <div class="dz-info">
                        <div class="dz-head">
                            <h6 class="title"><a href="product-detail.html">Original Hot Coffee</a></h6>
                            <p>Variant : White Stripes</p>
                        </div>
                        <ul class="dz-meta">
                            <li class="price flex-1">$69.4</li>
                            <li>
                                <a href="javascript:void(0);" class="item-bookmark active style-1">
                                    <i class="feather icon-heart-on"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6">
                <div class="dz-wishlist-bx">
                    <div class="dz-media">
                        <a href="product-detail.html"><img src="assets/images/menus/pic5.jpg" alt=""></a>
                    </div>
                    <div class="dz-info">
                        <div class="dz-head">
                            <h6 class="title"><a href="product-detail.html">Sweet Lemon Indonesian Tea</a></h6>
                            <p>Variant : White Stripes</p>
                        </div>
                        <ul class="dz-meta">
                            <li class="price flex-1">$69.4</li>
                            <li>
                                <a href="javascript:void(0);" class="item-bookmark active style-1">
                                    <i class="feather icon-heart-on"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<!-- Main Content End -->
{% endblock content %}